@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

.navbar {
    width: 100%;
    height: 47px;
    background-color: black;
    display: flex;
    position: fixed;
}

.navbar1 {
    width: 15%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;

}

.navbar1 img {
    width: 192px;
    height: 32px;
}

.navbar2 {
    width: 85%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar2 ul {
    color: black;
    display: flex;
    gap: 50px;
    padding-left: 550px;
    list-style: none;
}

.box {
    width: 100%;
    height: 93vh;
    background-color: aqua;
    display: flex;
}

.inbox1 {
    width: 50%;
    height: 100%;
    background-color: white;
    color: rgb(253, 248, 248);
    padding-top: 200px;
}

.inbox1 .s p {
    margin-left: 48px;
    font-size: 40px;
    color: black;
    font-weight: 350;
    margin-top: -10px;
    width: 560px;
    height: 40;
    background-color: white;

}

.inbox1 .v {
    height: 90px;
    width: 560px;
    background-color: white;
    color: #6c757d;
    margin-left: 48px;
    font-size: 21px;
    margin-top: 20px;
    font-weight: 500;

}

.apps {
    display: flex;
    gap: 20px;
    height: 48px;
    width: 560px;
    margin-left: 48px;
    margin-top: 30px;
}

.store {
    height: 48px;
    width: 162px;
}


.inbox2 {
    width: 50%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

.inbox2 .circle {
    height: 420px;
    width: 420px;
    background-color: #064f89;
    border-radius: 100%;
    margin-top: 90px;
    display: flex;
    justify-content: center;

}

.circle2 {
    height: 460px;
    width: 207px;
    border: black solid 5px;
    margin-top: -20px;
}

.blue {
    background-color: #064f89;
    height: 328px;
    width: 100%;
    align-content: center;
}

.word {
    height: 168px;
    width: 100%;
    background-color: #064f89;
}

.rack {
    height: 168px;
    width: 680px;
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-left: 292px;
}

.user {
    height: 1150px;
    width: 100%;
    background-color: black;
    display: flex;
}

.user1 {
    height: 100%;
    width: 40%;
    background-color: white;
    display: flex;
    justify-content: center;
}

.siren {
    height: 575px;
    width: 259px;
    border: black solid 5px;
    margin-top: 249px;
}

.user2 {
    height: 100%;
    width: 60%;
    background-color: white;
}

.top {
    height: 28;
    width: 584;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    margin-top: 80px;


}

.ads1 {
    margin-top: 48px;
    display: flex;
    gap: 87px;
    margin-left: 18px;
}

.splash {
    width: 228px;
    height: 230px;
}

.head {
    width: 268px;
    height: 67px;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 27.5px;
    font-weight: 600;
    margin-top: 16px;
}

.keep {
    width: 268px;
    height: 72px;
    background-color: white;
    text-align: center;
    color: #6c757d;
    font-size: 17px;
    font-weight: 450;
}

.splash2 {
    display: flex;
    flex-direction: column;
}

.ads2 {
    margin-top: 48px;
    display: flex;
    gap: 87px;
    margin-left: 18px;
}

.dead {
    width: 268px;
    height: 67px;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 27.9px;
    font-weight: 600;
    margin-top: 16px;
}

.sleep {
    width: 268px;
    height: 72px;
    background-color: white;
    text-align: center;
    color: #6c757d;
    font-size: 19px;
    font-weight: 450;
}

.feed {
    height: 919px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.start {
    height: 10%;
    width: 1265px;
    background-color: white;
    text-align: center;
    font-size: 26px;
    font-weight: 600;

}

.feed2 {
    height: 90%;
    width: 100%;
    background-color: white;
    display: flex;
}

.infeed1 {
    height: 100%;
    width: 40%;
    background-color: white;
    display: flex;
    justify-content: center;
}

.sire {
    height: 575px;
    width: 259px;
    border: black solid 5px;
    margin-top: px;
}

.infeed2 {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-color: white;

}

.infeed2 ul li {
    list-style: none;
    font-size: 16px;
    margin: 5px;
    font-weight: 300;
    width: 498px;
    color: black;
}

.infeed2 ul .listhd {
    font-size: 20px;
    font-weight: 600;
    list-style: none;

}


.list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.all {
    height: 48px;
    width: 498px;
    font-size: 16px;
    font-weight: 300;
    color: black;
    margin-top: 48px;
}

.faq {
    height: 20px;
    width: 498px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 48px;
}

.us {
    height: 20px;
    width: 498px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 16px;
}

.recycle {
    height: 759px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 49px;
}

.contribute {
    text-align: center;
    font-size: 29px;
    padding-top: 80px;
    font-weight: 500;
}

.waste {
    height: 230px;
    width: 228px;

}

.stickers {
    display: flex;
    justify-content: space-around;
}

.seed {
    width: 213px;
    height: 67px;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 29.7px;
    font-weight: 600;
    margin-top: 16px;
}

.sew {
    width: 213px;
    height: 72px;
    background-color: white;
    text-align: center;
    color: #6c757d;
    font-size: 17px;
    font-weight: 450;
    padding-top: 12px;
}

.dew {
    width: 213px;
    height: 72px;
    background-color: white;
    text-align: center;
    color: #6c757d;
    font-size: 17px;
    font-weight: 450;
    padding-top: 50px;
}

.orange {
    height: 270px;
    width: 100%;
    background-color: #d6410a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.download {
    text-align: center;
    color: white;
    font-size: 32px;
    font-weight: 600;
}

.apple {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.black {
    height: 200px;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.copy {
    color: #808078;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}

.privacy {
    color: #808078;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}